<ion-view view-title="dashboard" align-title="left">
  <ion-content>
    <div ng-repeat="client in clients track by $index" class="list card">
      <div class="item item-avatar">
        <img ng-src="{{client.image_url}}">
        <h2>
          {{client.name}}
        </h2>
        <p class="item item-icon-left"
            ng-repeat="category in client.categories">
          <i class="icon {{getCategoryIcon(category)}}"></i>
          {{category.name}}
        </p>
        <rating ng-model="client.avg_rate" max="5"></rating>
        <ion-slide-box>
          <ion-slide ng-repeat="discount in client.discounts track by $index">
            <discount-preview client-id="client._id" discount="discount">
            </discount-preview>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>
  </ion-content>
</ion-view>
