<ion-view view-title="dashboard" align-title="left">
  <ion-content>
    <div ng-repeat="client in clients track by $index" class="list card">
      <div class="item item-avatar">
        <img ng-src="{{client.image_url}}">
        <h2>
          {{client.name}}
        </h2>
        <p class="item item-icon-left"
            ng-repeat="category in client.categories">
          <i class="icon {{getCategoryIcon(category)}}"></i>
          {{category.name}}
        </p>
        <rating ng-model="client.avg_rate" max="5"></rating>
      </div>
      <ion-slide-box>
        <ion-slide ng-repeat="discount in client.discounts track by $index" ng-if="!discount.liked">
          <discount-preview client-id="client._id" discount="discount">
          </discount-preview>
        </ion-slide>
      </ion-slide-box>
    </div>
    <ion-infinite-scroll
        on-infinite="fetchDiscounts()"
        ng-if="!noClients"
        distance="1%"
        icon="ion-loading-c"
        immediate-check="false">
    </ion-infinite-scroll>
    <div ng-if="noClients">
      No Available Discounts!
    </div>
  </ion-content>
</ion-view>
